
* {
    box-sizing: border-box;
}

/*---------Font Family-------------*/

@font-face {
    font-family: Impact;
    src: url(../fonts/impact/impact.ttf)
}


 /* BASICS */

body {
    background-color: beige;
}

canvas {
    font-family: Impact;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


 /* Containers */


.canvas-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

 /* Search/Filter Panel */

 .keywords-content li {
    margin-right: 10px;
    cursor: pointer;
}

.keywords-content li:hover {
    color: green;
}

.keywords-content li.selected {
    color:red;
}

.keywords-content li span:hover {
    color:purple;
}

 /* Memes tab */

 .memes-list li {
    margin-right: 20px;
    cursor: pointer;
}

.memes-list img {
    width: 100px;
}


button.save-meme {
    cursor: pointer;
}

 /* Images Gallery */

 .images-gallery img {
     height: 250px;
     width: 250px;
     cursor: pointer;
 }


  /* Control Panel */

  .icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  /* Modal */

.modal {

    position: fixed;
    top: 15%;
    left:42%;
    padding: 10px;
    background-color:#ad9b9bcf;
    border-radius: 5px;
    border: 1px solid black;

}

.modal-content {
    max-width:400px;
}

 /* Helpers */

 /* flex-helpers */

 .flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.flex-start {
    justify-content: flex-start;
}

.flex.flex-end {
    justify-content: flex-end;
}


.flex.align-center {
    align-items: center;
}

.flex.flex-grow {
    flex-grow: 1;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 




