
* {
    box-sizing: border-box;
}

/*---------Font Family-------------*/

/* @font-face {
    font-family: Impact;
    src: url(../fonts/impact/impact.ttf)
} */


 /* BASICS */


body {
    /* background-color: beige; */
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

}

input {
    font-family: 'Montserrat', sans-serif;
}

canvas {
    /* font-family: Impact; */
    /* border: 1px solid black; */
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

p,h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    font-size: 1rem;
}

 /* Components */

 .screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s;
}

.menu-open .screen {
    visibility: visible;
    opacity: 1;
}

/* LAYOUT */


.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: unset;

}

.canvas-container {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 450px;
    height: 450px;
}

/* Header */

.main-header {
    background-color: #ff7f00;
    width:100%;
}

.logo img {
    margin-left: 47px;
    width:133px;
    height:25px;
}

.main-header a {
        /* width: 120px; */
        /* height: 15px; */
        /* font-family: Montserrat; */
        font-size: 19px;
        text-align: center;
        color: #ffffff;
        padding: 22px;
}

.main-header a:hover {
    color: black;
}

.main-nav li {
    border-left:1px solid #1e1e1e;
 
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.main-nav li:last-child {
    border-right:1px solid #1e1e1e;
}


.active {
    box-shadow: inset 0 -4px 0 black;
}

.btn-menu {
    display: none;
}


 /* Images Gallery */

 .images-gallery {
     background-color: #e3e3e3;
     ;
 }
 .images-content {
   padding-top: 20px;
   column-count: 4;
   text-align: center;
   width:95%;
   margin-bottom: 15px;

}

 .images-gallery img {
    margin-bottom: 10px;
    width:100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.images-gallery img:hover {
    /* height: 250px; */
    box-shadow: 2px 2px 15px 9px rgb(253, 126, 0)

}




 /* Search/Filter Panel */

 .search-bar {
     background-color: white;
     padding: 20px;
 }

.search-input {
    width: 9.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    font-size: 1rem;
    text-align: center;

}

.search-area .icon {
    cursor: default;
    width: 20px;
    height: 20px;
}

 .keywords-content li {
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

.keywords-content li:hover {
    color: #ff7f00;
}

.keywords-content li.selected {
    color:#ff7f00;
}

.keywords-content li span:hover {
    color:#ff7f00;
    ;
}

.file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.file-input + label {
    cursor: pointer; 
    align-self: center;
    font-size: 1rem;
    color: black;
    display: inline-block;
}

.file-input:focus + label,
.file-input + label:hover {
    color: #ff7f00;
}

img.file-upload-icon {
    height: 30px;
    width: 30px;
    cursor: default;
    align-self:center;
  }

 /* Memes tab */

.saved-memes-container {
    background-color:#e3e3e3 ;
    /* text-align: center; */
    column-count: 4;
}

 .memes-list li {
    margin-right: 20px;
    cursor: pointer;
}

.memes-list img {
    width:100%;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

button.save-meme {
    cursor: pointer;
}



  /* Control Panel */

  .meme-editor {
     background-color: #e3e3e3;
  }

  .grid-container {
    display: grid;
    margin-left: 30px;
    margin-right: 20px;
    align-items: flex-start;
    margin-top: 26px;
    width :100vw;
    grid-template-areas: 
    "input-text input-text input-text input-text input-text" 
    ". switch-line add-line delete-line delete-meme"
    "inc-font dec-font align-left align-center align-right"
    "font font font stroke-color font-color"
    "download save reset publish share-container";
    /* "stickers stickers stickers stickers stickers"; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}

  .input-text {
      grid-area: input-text;
  }
  .switch-line {
    grid-area:switch-line;
  }
  .add-line {
    grid-area:add-line;
  }
  .delete-line {
    grid-area:delete-line;
  }
  .delete-meme {
    grid-area:delete-meme;
  }
  .inc-font {
    grid-area:inc-font;
  }
  .dec-font {
    grid-area:dec-font;
  }
  .align-left {
    grid-area:align-left;
  }
  .align-center {
    grid-area:align-center;
  }
  .align-right {
    grid-area:align-right;
  }
  .font {
    grid-area:font;
  }
  .stroke-color {
    grid-area:stroke-color;
  }
  .font-color {
    grid-area:font-color;
  }
  .download {
    grid-area:download;
  }

  .save {
    grid-area:save;
  }
  .reset {
    grid-area:reset;
  }
  .publish {
    grid-area:publish;
  }
  .share-container {
    grid-area:share-container;
  }


  .input-line {
      background-color: white;
      border-radius: 15px;
      border: none;
      width: 100%;
      padding: 20px;
      font-size: 2rem;
      text-align: center;
  }

  .icon {
    background-color: white;
    height: 40px;
    width: 40px;
  }


  .icon-holder {
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      margin:5px;
      cursor: pointer;
      transition: 0.2s;
      justify-self:center
  }

  .icon-holder:hover { 
    opacity: 0.5;
}

  .font-selector {
    background-color: white;    
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 6px;
    height: 62px;
  }

  .control-panel-btn {
      padding: 20px;
      widows: 100%;
      color:white;
      background-color:#ff7f00;
      border-radius: 10px;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      font-size: 1rem;
      transition: 0.2s;
  }

  .control-panel-btn:hover {
      opacity: 0.7;
}

  /* About */

  .about-content {
      /* height: 570px; */
      background-color: white;
  }

  /* Footer */ 

 .footer-content {
     background-color:#ff7f00;
     color:white;
     height: 207px;
 }


 .footer-content img {
     margin: 0;
     cursor: pointer;
 }
 

  /* Modal */

.modal {

    position: fixed;
    top: 25%;
    left:42%;
    padding: 20px;
    color: black;
    background-color:#ad9b9bcf;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.5rem;

}

.modal-content {
    max-width:400px;
}

 /* Helpers */

 /* flex-helpers */

 .flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.flex-start {
    justify-content: flex-start;
}

.flex.flex-end {
    justify-content: flex-end;
}


.flex.align-center {
    align-items: center;
}

.flex.flex-grow {
    flex-grow: 1;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* General helpers */ 
.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

 

/* Hamburger */


@media (max-width: 740px) { 

    .btn-menu {
        background: url("../img/hamburger.png");
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .main-nav {
        position: fixed;
        display:block;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: orange;
        transform: translateX(100%);
        transition: transform .6s;
        }
        .menu-open .main-nav {   
            transform: translateX(0);
        }
        .main-nav li:last-child {
            border: none;
        }

        .images-content {
            column-count: 2;
         }

         .container {
            max-width: 740px;
        }

        .search-bar {
            flex-direction: column;
            align-items:center;
        }

        .search-input {
            width: 17rem;
            font-size: 1.5rem;
        }

        .canvas-container {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            /* margin: 0 auto; */
            width: 250px;
            height: 250px;
            
        }

        .meme-editor {
            flex-direction: column;
            align-items: center;
        }

        .control-panel {
            margin-top: 10px;
        }

        .icon {
            background-color: white;
            height: 10px;
            width: 10px;
          }
        
        
          .icon-holder {
              padding: 10px;
              background-color: white;
              border-radius: 10px;
              margin:5px;
              cursor: pointer;
              transition: 0.2s;
              justify-self:center
          }

          .grid-container {
                margin-left: 30px;
            margin-right: 20px;
            margin-top: 10px;
            width :100vw;
            grid-template-areas: 
            "input-text input-text input-text input-text input-text input-text switch-line add-line delete-line"
            "font font stroke-color font-color inc-font dec-font align-left align-center align-right"
            "download save reset publish share-container delete-meme . . .";
            /* "stickers stickers stickers stickers stickers"; */
            grid-template-columns: repeat(9,1fr);
            grid-template-rows: repeat(3,1fr); 
        } 

        .input-line {
            padding:0
        }

        /* .grid-container {
            display: grid;
            margin-left: 30px;
            margin-right: 20px;
            align-items: flex-start;
            margin-top: 26px;
            height: 540px;
            width :100vw;
            grid-template-areas: 
            "input-text input-text input-text input-text input-text" 
            ". switch-line add-line delete-line delete-meme"
            "inc-font dec-font align-left align-center align-right"
            "font font font stroke-color font-color"
            "download save reset publish share-container";
            /* "stickers stickers stickers stickers stickers"; */
            /* grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(5,1fr);  */
        }

    